@import url(https://fonts.googleapis.com/css?family=Montserrat);
  
svg {
    display: block;
    font: 6rem 'Montserrat';
    width: 860px;
    height: 200px;
    max-width: 100%;
    margin: 0 auto;
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 3s infinite linear;
}

.text-copy:nth-child(1){
	stroke: #4D163D;
	animation-delay: -0.1s;
}

.text-copy:nth-child(2){
	stroke: #840037;
	animation-delay: -0.6s;
}

.text-copy:nth-child(3){
	stroke: #BD0034;
	animation-delay: -1.2s;
}

.text-copy:nth-child(4){
	stroke: #BD0034;
	animation-delay: -2.4s;
}

.text-copy:nth-child(5){
	stroke: #FDB731;
	animation-delay: -4.8s;
}

@keyframes stroke-offset{
	100% {stroke-dashoffset: -35%;}
}