.container{
    width: 100vw;
    height: 100vh;
}
.popup{
    position: absolute;
    width: 99%;
    height: 99%;
    z-index: 999;
    background-color: rgba(112, 22, 22, 0.274);
}

.btnEmpezarJuego{
    font-weight: bolder;
    font-size: 25px;
}

.btnVolverAlMenu{
    font-weight: bolder;
    font-size: 20px;
}