/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
}

.contenedor{
    width: 100vw;
    min-height: 100vh;
    max-width: 100%;
    background: linear-gradient(336deg,rgb(240, 227, 108),rgb(253, 171, 171));
}

.flexCenterCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexDirectionColumn{
    display: flex;
    flex-direction: column;
}

.gridCenterCenter{
    display: grid;
    justify-content: center;
    align-items: center;
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }